@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

:root {
  --all-white: #FFFFFF;
  --all-black: #000000;
  --level: #181823;
  --light-grey: #8491A0;
  --dark-grey: #5B6876;
  --purple: #5221E6;
  --green: #3CC74E;
  --blue: #609BFF;
  --pink: #E95D90;

  --border: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sen, sans-serif;
    font-weight: 700;
    color: var(--all-white);
    font-size: .9rem;
    letter-spacing: .05em;
    cursor: default;
}

html {
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
}

a, ul {
    text-decoration: none;
    list-style: none;
}

nav {
  position: absolute;
  right: 0;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 4rem;
}

nav ul {
  height: 100%;
  display: flex;
}

nav ul li {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  padding: 1.5rem;
  transition: background-color 0.5s;
}

nav ul li:not(.active) {
  filter: brightness(0.5);
}

nav ul li:not(.active):hover {
  background-color: var(--purple);
  filter: brightness(1);
}

nav ul li.active {
  background-color: #5221E6;
}

main {
  background: var(--all-black);
  display: flex;
  flex-direction: column;
}

main section.home {
  width: 100%;
  display: flex;
}

main section.home .profile {
  width: 35%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

main section.home .profile .hello {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main section.home .profile .hello img {
  width: 13rem;
  height: 13rem;
  border: 2px solid var(--purple);
  border-radius: 50%;
  background: var(--level);
  margin-bottom: 2.5rem;
}

main section.home .profile .hello >  h1 {
  font-size: 2.7rem;
}

main section.home .profile .hello .profile-name {
  display: flex;
  gap: .5rem;
}

main section.home .profile .hello .profile-name h1 {
  font-size: 2.5rem;
}

main section.home .profile .hello .profile-name h1:first-child {
  color: var(--purple);
}

main section.home .profile .hello h3 {
  font-size: 1.5rem;
}

main section.home .apresentation {
  width: 65%;
  background: var(--level);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

main section.home .apresentation h1:first-child {
  font-size: 2.5rem;
}

main section.home .apresentation .information {
  margin-top: 1rem;
}

main section.home .apresentation .information h4 {
  font-size: 1.3rem;
  text-align: left;
}

main section.about-me {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  margin-bottom: 4rem;
}

main section.about-me h6 {
  height: 10vh;
  color: var(--dark-grey);
}

main section.about-me h4.tittle {
  height: 20vh;
  font-size: 2.5rem;
}

main section.about-me .container-cards {
  height: 50vh;
  display: flex;
  gap: 2rem;
}

main section.about-me .container-cards .card {
  width: 40%;
  height: 100%;
  position: relative;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
}

main section.about-me .container-cards .card span {
  transition: 0.5s;
  background: white;
}

main section.about-me .container-cards .card span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 2px;
}

main section.about-me .container-cards .card span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0px;
}

main section.about-me .container-cards .card span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2px;
  height: 0px;
}

main section.about-me .container-cards .card span:nth-child(4) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 2px;
}

main section.about-me .container-cards .card:hover span:nth-child(1) {
  width: 2rem;
}

main section.about-me .container-cards .card:hover span:nth-child(2) {
  height: 2rem;
}

main section.about-me .container-cards .card:hover span:nth-child(3) {
  height: 2rem;
}

main section.about-me .container-cards .card:hover span:nth-child(4) {
  width: 2rem;
}

main section.about-me .container-cards .card h1 {
  font-size: 4rem;
  color: var(--light-grey);
  height: 15vh;
  transition: 0.5s;
}

main section.about-me .container-cards .card:hover h1 {
  color: #ced5dd;
}

main section.about-me .container-cards .card .subtitle-card {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

main section.about-me .container-cards .card .subtitle-card h4 {
  font-size: 1.7em;
}

main section.about-me .container-cards .card .text-card p {
  font-weight: 400;
  line-height: 1.5rem;
}

main section.projects {
  width: 100%;
  height: 100vh;
  padding: 0 2rem;
}

main section.projects h6 {
  margin-top: 2rem;
  height: 10vh;
  color: var(--dark-grey);
}

main section.projects h4.tittle {
  width: 100%;
  height: 20vh;
  font-size: 2.5rem;
}

main section.projects .container-projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: .25rem;
}

main section.projects .container-projects .card-projeto {
  width: 45%;
  height: 30vh;
  background: var(--level);
}

main section.projects .container-projects .card-projeto .description-project {
  height: calc(70vh - 40vh);
  padding: 1rem;
}

main section.projects .container-projects .card-projeto .description-project h4 {
  height: 7vh;
  font-size: 2em;
}

main section.projects .container-projects .card-projeto .description-project p {
  font-weight: 400;
  line-height: 1.5rem;
}

main section.projects .container-projects .card-projeto:hover .description-project h4 {
  color: var(--purple);
}

footer {
  height: 70vh;
  background: var(--level);
  padding: 2rem;
  position: relative;
  display: flex;
}

footer .contato-tittle {
  width: 25%;
}

footer .contato-tittle h1 {
  height: 15vh;
  font-size: 2.5rem;
}

footer .contato-tittle h4 {
  height: 15vh;
  color: var(--light-grey);
}

footer .contato-container {
  width: 80%;
  padding: 1.5rem 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

footer .contato-container .contato-group {
  width: 45%;
  height: 25vh;
}

footer .contato-container .contato-group img {
  width: 2rem;
  height: 2rem;
  margin-bottom: .5rem;
}

footer .contato-container .contato-group h6 {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

footer .contato-container .contato-group a {
  color: var(--light-grey);
  transition: color .5s;
}

footer .contato-container .contato-group a:hover {
  color: #ced5dd;
}

.copyright {
  width: 90%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.copyright small {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.click-to-top {
  width: 3rem;
  height: 3rem;
  position: fixed;
  bottom: 5%;
  right: 5%;
}

/*ANIMAÇÕES*/

.translateinleft {
  animation-name: translatein;
  animation-duration: 1.5s;
}

@keyframes translatein {
  from {
        transform: translateX(-155%)
    } 
  to {
        transform: translateX(0%)
    }
}

.translateinright {
  animation-name: translateinright;
  animation-duration: 1.5s;
}

@keyframes translateinright {
  from {
        transform: translateX(155%)
    } 
  to {
        transform: translateX(0%)
    }
}

.translateintop {
  animation-name: translateintop;
  animation-duration: 1.5s;
}

@keyframes translateintop {
  from {
        transform: translateY(-100%)
    } 
  to {
        transform: translateX(0%)
    }
}


@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 950px) {
  html {
    font-size: 80.5%;
  }
  nav {
    padding: .75rem;
  }
  main section.about-me {
    height: 90vh;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 70.5%;
  }
  main section.about-me .container-cards {
    gap: 0;
  }
}

@media (max-width: 654px) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column;
  }
  section {
    display: flex;
    flex-direction: column;
  }
  section.home {
    align-items: center;
    height: 200vh;
  }
  main section.home .profile {
    width: 100%;
  }
  main section.home .apresentation {
    width: 100%;
    height: 100vh;
  }
  .click-to-top {
    left: 5%;
    bottom: 10%;
    width: 3rem;
    height: 3rem;
  }
  main section.about-me {
    height: 145vh;
  }
  main section.about-me .container-cards {
    flex-direction: column;
    align-items: center;
  }
  main section.about-me .container-cards .card {
    width: 90%;
  }
  main section.projects {
    height: 180vh;
  }
  main section.projects .container-projects {
    flex-direction: column;
  }
  main section.projects .container-projects .card-projeto {
    width: 90%;
  }
  footer {
    height: 150vh;
    flex-direction: column;
    align-items: center;
  }
  footer .contato-container .contato-group {
    justify-content: center;
    width: 100%;
    display: flex;
    height: 25vh;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  nav {
    position: relative;
    justify-content: center;
    background: var(--level);
    margin-right: 0;
  }
  main section.about-me {
    height: 155vh;
  }
  main section.home .apresentation h1:first-child {
    font-size: 2rem;
  }
  main section.home .apresentation .information h4 {
    font-size: 1rem;
  }
}