@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

@font-face {
    font-family: 'Milky';
    font-weight: normal;
    font-style: normal;
    src: url(./fonts/Milky\ Rainbow.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
}

a, ul {
    text-decoration: none;
    list-style: none;
}

h2 {
  font-weight: bold;
}

main {
  width: 100%;
  height: 100vh;
  background: #070707;
}

.slides {
  width: 70%;
  height: 80vh;
  display: none;
  padding-left: 5rem;
  flex-direction: column;
  align-items: center;
}

.slides .topic {
  height: 30%;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.text {
  width: 60%;
  height: 50%;
  display: flex;
  gap: 1rem;
}

.about {
  width: 60%;
}

.about__text {
  line-height: 1.5rem;
}

.tecnologies__text {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 2rem;
}

.hobbies__video {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
}

.contact__text {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

video {
  width: 50%;
  height: 40%;
  border: 1px dashed gray;
  filter: grayscale(1);
}

video:hover {
  cursor: pointer;
  filter: grayscale(0);
}

.card {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  margin: 0 1rem;
}

.card span {
  transition: 0.5s;
  background: white;
}

.card span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 2px;
}

.card span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0px;
}

.card span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 2px;
  height: 0px;
}

.card span:nth-child(4) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 2px;
}

.card:hover span:nth-child(1) {
  width: 13%;
}

.card:hover span:nth-child(2) {
  height: 40%;
}

.card:hover span:nth-child(3) {
  height: 40%;
}

.card:hover span:nth-child(4) {
  width: 13%;
}

.card:hover .fab {
  color: crimson;
}

.fab::before {
  margin: 0 0.5rem;
}

.icons {
  border-radius: 1rem;
}

.icons:hover {
  filter: contrast(0.8);
}

.photo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 100%;
    filter: grayscale(1);
    /*transform: rotateY(180deg);*/
}

/*CARROSSEL*/
.circles {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0.5rem;
  gap: 2rem;
  z-index: 5;
}

.current_circle {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(92, 91, 91);
  border-radius: 50%;
  display: flex;
  transition: background-color, width 0.7s ease;
  position: relative;
}

.active{
  height: 15px;
  width: 30px;
}

.active, .current_circle:hover {
  background-color: crimson;
}

.translatein {
  animation-name: translatein;
  animation-duration: 1.5s;
}

@keyframes translatein {
  from {
        transform: translateX(-50%)
    } 
  to {
        transform: translateX(0%)
    }
}

@media (max-width: 1129px) {
  .photo {
    width: 30%;
    height: 70%;
  }
  .slides {
    padding-left: 2rem;
  }
  .hobbies__video {
    overflow-y: auto;
  }
  .card {
    width: 80%;
    gap: 0;
  }
}

@media (max-width: 925px) {
  .photo {
    width: 40%;
    height: 70%;
  }
  video {
    width: 80%;
    height: 50%;
  }
}

@media (max-width: 600px) {
  .photo {
    display: none;
  }
  .slides {
    width: 100%;
  }
}