@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

:root {
  --all-white: #FFFFFF;
  --all-black: #000000;
  --level: #181823;
  --light-grey: #8491A0;
  --dark-grey: #5B6876;
  --purple: #5221E6;
  --green: #3CC74E;
  --blue: #609BFF;
  --pink: #E95D90;

  --tittle: 2.5rem;
  --border: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sen, sans-serif;
    font-weight: 700;
    color: var(--all-white);
    font-size: .8rem;
    letter-spacing: .05em;
}

html {
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
}

a, ul {
    text-decoration: none;
    list-style: none;
}

nav {
  position: absolute;
  right: 0;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 4rem;
}

nav ul {
  height: 100%;
  display: flex;
  gap: 2rem;
}

nav ul li {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 400;
  padding: 1.5rem;
}

nav ul li:not(.active) {
  filter: brightness(0.5);
}

nav ul li.active {
  background-color: #5221E6;
}

main {
  background: var(--all-black);
  display: flex;
  flex-direction: column;
}

main section.home {
  width: 100%;
  height: 100vh;
  display: flex;
}

main section.home .profile {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

main section.home .profile img {
  width: 10rem;
  height: 10rem;
  border: 2px solid var(--purple);
  border-radius: 50%;
  background: var(--level);
  margin-bottom: 1rem;
}

main section.home .profile >  h1 {
  font-size: 2.3rem;
}

main section.home .profile .profile-name {
  display: flex;
  gap: .5rem;
}

main section.home .profile .profile-name h1 {
  font-size: var(--tittle);
}

main section.home .profile .profile-name h1:first-child {
  color: var(--purple);
}

main section.home .profile h3 {
  font-size: 1rem;
}

main section.home .apresentation {
  width: 65%;
  background: var(--level);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main section.home .apresentation h1:first-child {
  font-size: var(--tittle);
}

main section.home .apresentation .information {
  margin-top: 1rem;
}

main section.home .apresentation .information h4 {
  font-size: 1.1rem;
  text-align: left;
}

main section.about-me {
  width: 100%;
  height: 100vh;
  padding: 2rem;
}

main section.about-me h6 {
  height: 10vh;
  color: var(--dark-grey);
}

main section.about-me h4.tittle {
  height: 20vh;
  font-size: var(--tittle);
}

main section.about-me .container-cards {
  height: 50vh;
  display: flex;
  gap: 2rem;
}

main section.about-me .container-cards .card {
  width: 40%;
  height: 100%;
}

main section.about-me .container-cards .card h1 {
  font-size: 3.5rem;
  color: var(--light-grey);
  height: 15vh;
}

main section.about-me .container-cards .card .subtitle-card {
  height: 7vh;
  display: flex;
  gap: 0.5rem;
}

main section.about-me .container-cards .card .subtitle-card h4 {
  font-size: 1.4em;
}

main section.about-me .container-cards .card .text-card p {
  font-weight: 400;
  line-height: 1.2rem;
}

main section.projects {
  width: 100%;
  height: auto;
  padding: 2rem;
}

main section.projects h6 {
  height: 10vh;
  color: var(--dark-grey);
}

main section.projects h4.tittle {
  width: 60%;
  height: 20vh;
  font-size: var(--tittle);
}

main section.projects .container-projects {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

main section.projects .container-projects .card-projeto {
  width: 49%;
  height: 100vh;
  background: var(--level);
}

main section.projects .container-projects .card-projeto img {
  width: 100%;
  height: 75%;
}

main section.projects .container-projects .card-projeto .description-project {
  height: calc(70vh - 40vh);
  padding: 1rem;
}

main section.projects .container-projects .card-projeto .description-project h4 {
  height: 7vh;
  font-size: 1.5em;
}

main section.projects .container-projects .card-projeto .description-project p {
  font-weight: 400;
  line-height: 1rem;
}

footer {
  height: 70vh;
  background: var(--level);
  padding: 2rem;
  position: relative;
  display: flex;
}

footer .contato-tittle {
  width: 25%;
}

footer .contato-tittle h1 {
  height: 15vh;
  font-size: var(--tittle);
}

footer .contato-tittle h4 {
  height: 15vh;
  color: var(--light-grey);
}

footer .contato-container {
  width: 80%;
  padding: 1.5rem 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

footer .contato-container .contato-group {
  width: 45%;
  height: 25vh;
}

footer .contato-container .contato-group img {
  width: 2rem;
  height: 2rem;
  margin-bottom: .5rem;
}

footer .contato-container .contato-group h6 {
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

footer .contato-container .contato-group a {
  color: var(--light-grey);
}

.copyright {
  width: 90%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.copyright small {
  font-size: 0.6rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.click-to-top {
  width: 3rem;
  height: 3rem;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}